body {
  color: #333;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

header {
  color: #fff;
  background-color: #333;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 1rem;
  display: flex;
}

.logo-container {
  justify-content: center;
  align-items: center;
  min-width: 120px;
  max-width: 300px;
  height: 50px;
  margin-right: 10px;
  display: flex;
}

.logo-container img {
  align-self: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

@keyframes scaleLogo {
  0% {
    opacity: 0;
    transform: scale(.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

img {
  animation: 1.5s ease-out forwards scaleLogo;
}

#map img {
  animation: none !important;
}

header h1 {
  min-width: 180px;
}

header nav ul {
  flex-wrap: wrap;
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

ul li {
  margin-right: 20px;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

header nav ul li a:hover {
  color: orange;
  font-size: 1.3em;
}

main section h1, main section h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 3em;
}

main {
  padding: 20px;
}

main .btn {
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}

main .image-container {
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  max-width: 100%;
  margin: 20px auto;
}

main .image-container img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  display: block;
}

main .image-container figcaption {
  color: #666;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
}

.image-container img {
  width: 100%;
  height: auto;
  margin: 20px auto;
  transition: transform .3s;
  display: block;
}

.section-info .image-container img:first-of-type {
  clip-path: circle(50%);
}

.section-info .image-container:nth-of-type(2) img:first-of-type {
  clip-path: polygon(10% 0%, 90% 0%, 100% 80%, 95% 85%, 90% 80%, 85% 85%, 80% 80%, 75% 85%, 70% 80%, 60% 85%, 55% 80%, 50% 85%, 45% 80%, 40% 85%, 35% 80%, 30% 85%, 20% 80%, 10% 80%, 0% 90%);
}

.image-container img:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

footer {
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 20px 0;
}

.footer-container {
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.footer-logo img {
  width: 150px;
  height: auto;
}

.footer-links ul {
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer-links ul li {
  margin: 5px 10px;
}

.footer-links ul li a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: color .3s;
}

.footer-links ul li a:hover {
  color: orange;
}

.footer-info {
  margin: 10px;
  font-size: 1.2em;
}

.contenedor_principal {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}

.animation-container {
  width: 200px;
  height: 275px;
  position: relative;
}

.pictograma {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  animation: 2s ease-in-out infinite bounce;
}

.question1 {
  color: #333;
  opacity: 0;
  width: 450px;
  margin-top: 3px;
  font-size: 2rem;
  font-weight: bold;
  animation: 2s ease-in-out 1s infinite fadeIn;
  position: absolute;
  bottom: 10px;
  right: -100%;
}

.question2 {
  color: #333;
  opacity: 0;
  width: 450px;
  margin-top: 3px;
  font-size: 2rem;
  font-weight: bold;
  animation: 2s ease-in-out 1s infinite fadeIn;
  position: absolute;
  bottom: 10px;
  right: -85%;
}

.question3 {
  color: #333;
  opacity: 0;
  width: 450px;
  margin-top: 3px;
  font-size: 2rem;
  font-weight: bold;
  animation: 2s ease-in-out 1s infinite fadeIn;
  position: absolute;
  bottom: 10px;
  right: -75%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.animation-container:hover .question1, .animation-container:hover .question2, .animation-container:hover .question3 {
  color: red;
  animation: .8s ease-in-out 1s infinite fadeIn;
}

.pictograma {
  width: 180px;
}

@media (width >= 800px) {
  .pictograma {
    width: 210px;
  }
}

@media (width <= 800px) {
  .pictograma {
    width: 180px;
  }
}
/*# sourceMappingURL=index.77a9bc14.css.map */
